.uk-button {
  text-transform: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-weight: 600;
  color: #333;

  &.uk-button-submit {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background: #d7efd7;

    &:hover {
      background: #cde4cd;
      color: #000;
    }
  }
}