#global-tooltip {
  z-index: 5000;
  display: none;
  position: absolute;
  max-width: 240px;
  padding: 10px;
  pointer-events: none;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
  border: 1px solid #eaeaea;
  border-radius: 2px;
  background: #fff;
  font-weight: 500;
  font-size: .7rem;
  color: #888;
  line-height: 1.4;
  overflow-wrap: break-word;
}

.tooltip-message {
  color: #000;
  font-weight: 500;
  font-size: .875rem;
  margin-bottom: 5px;
}
.tooltip-info {
  color: #000;
  font-weight: 500;
  font-size: .875rem;
}
.tooltip-table {
  th {
    text-align: left;
  }
}