rect, line {
  shape-rendering: crispedges;
}

.fill-light {
  fill: #e1e1e1;
}

.fill-default {
  fill: #aec7cc;

  &:hover {
    fill: #7e979c;
    transition: fill 150ms linear;
  }
}

.gridline {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.connection {
  shape-rendering: auto;
  stroke: #ccc;
}

.node {
  stroke: white;
  stroke-width: 2px;
}

.legend-label {
  font-size: .7rem;
  fill: #888;
}

.axis {
  .tick {
    text {
      font-size: 11px;
      fill: #000;
    }
  }
  
  &.ticks-light {
    .tick line {
      stroke: #f1f1f1;
    }
  }

  &.ticks-medium {
    .tick line {
      stroke: #ddd;
    }
  }

  &.hide-path {
    path {
      display: none;
    }
  }

  &.hide-labels {
    text {
      display: none;
    }
  }
}

.brush {
  .selection {
    fill: #f7f7f7;
    stroke: #000;
    stroke-width: 2px;
    fill-opacity: 0.5;
  }
}