rect, line {
  shape-rendering: crispedges;
}

.fill-light {
  fill: #e1e1e1;
}

.fill-default {
  fill: #ab9f9f;
}

.gridline {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.axis {
  .tick {
    text {
      font-size: 11px;
      fill: #000;
    }
  }
  
  &.ticks-light {
    .tick line {
      stroke: #f1f1f1;
    }
  }

  &.ticks-medium {
    .tick line {
      stroke: #ddd;
    }
  }

  &.hide-path {
    path {
      display: none;
    }
  }

  &.hide-labels {
    text {
      display: none;
    }
  }
}

.brush {
  .selection {
    fill: #f7f7f7;
    stroke: #000;
    stroke-width: 2px;
    fill-opacity: 0.5;
  }
}