@import "components/nav";
@import "components/button";
@import "components/form";

body {
  //background: blue;
  font-size: 14px;
}

.border-right {
  border-right: 1px solid #ddd;
}
.border-left {
  border-left: 1px solid #ddd;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}


h1 {
  font-size: 2rem;
}


#log-input {
  height: 500px;
}

.timeline-label {
  font-size: 9px;
  font-weight: 700;
}

#control-bar {
  height: 44px;
  box-shadow: 1px 0px 8px rgba(158,150,150,0.4);
}

#search-input {
  width: 400px;
}